<div class="container">
  <h1>Sugerencias</h1>
  <h3>Titulo </h3>
  <input (input)="ingresarSugerenciatitulo($event)" type="text" placeholder="Escribe el titulo (obligatorio)" class="text-input" />
  <h3>Descripcion</h3>
  <input (input)="ingresarSugerenciadescripcion($event)" type="text" placeholder="Escribe la descripcion (obligatorio)" class="text-input" />
  <h3>Categoria</h3>
  <select (change)="ingresarSugerenciacategoria($event)" class="text-input">
    <option value="">Selecciona una categoria (obligatorio)</option>
    <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
  </select>
  <h3>Publico objetivo</h3>
  <input (input)="ingresarSugerenciapublico($event)" type="text" placeholder="Publico objetivo (opcional)" class="text-input" />
  <button  (click)="agregarSugerencia()" class="submit-button">Enviar</button>
  <div class="output">
    <p>Sugerencias ingresadas: </p>
    <ul>
      <li *ngFor="let sugerencia of listadesugerencias; let i = index">
        <p><strong>Título:</strong> {{ sugerencia.titulo }}</p>
        <p><strong>Descripción:</strong> {{ sugerencia.descripcion }}</p>
        <p><strong>Categoría:</strong> {{ sugerencia.categoria }}</p>
        <p><strong>Estado:</strong> {{ sugerencia.estado }}</p>
        <p><strong>Publico objetivo:</strong> {{ sugerencia.publico }}</p>
        <button (click)="eliminarSugerencia(i)" class="submit-button">Eliminar</button>
        <hr>
      </li>
    </ul>
  </div>
</div>